extends admin-base

block content
  main.admin-main
    section#user
      form.new-content-form.item.form-user-data
        h2 Profile
        .post-group
          label(for="name") Name
          input#name(type="text" name='name', value=user ? user.name : '')
        .post-group
          label(for="email") Email
          input#email(type="email" name='email', value=user ? user.email : '')
        .post-group
          label(for="bio") Bio
          textarea#bio(name='bio')= user ? user.bio : ""
        .post-group 
          label(for="forImg") 
          input#forImg(type="file" accept='image/*' name='photo')
        .post-group 
          img#imgForImg(src=`/img/users/${user.photo}` alt=`A photo of ${user.title}`)
        .post-group 
          button(type="submit") Update

      form.new-content-form.item.updateSocial
        h2 Social Media Links

        .post-group
          label(for="twitter") Twitter
          input#twitter(type="text", name='twitter', required value=social ? social.twitter : '')

        .post-group
          label(for="facebook") Facebook
          input#facebook(type="text", name='facebook', required value=social ? social.facebook : '')

        .post-group
          label(for="linkedin") LinkedIn
          input#linkedin(type="text", name='linkedin', required value=social ? social.linkedin : '')

        .post-group
          label(for="github") GitHub
          input#github(type="text", name='github', required value=social ? social.github : '')

        .post-group
          label(for="youtube") YouTube
          input#youtube(type="text", name='youtube', required value=social ? social.youtube : '')

        .post-group
          label(for="instagram") Instagram
          input#instagram(type="text", name='instagram', required value=social ? social.instagram : '')

        .post-group
          label(for="telegram") Telegram
          input#telegram(type="text", name='telegram', required value=social ? social.telegram : '')

        .post-group
          label(for="whatsapp") Whatsapp
          input#whatsapp(type="text", name='whatsapp', required value=social ? social.whatsapp : '')

        .post-group
          button(type="submit") Update Socials

      form.new-content-form.item.form-user-password
        h2 Reset Password
        .post-group
          label(for="passwordCurrent") Current Password
          input#passwordCurrent(type="password" required)
          button#showPasswordCurrent.toggle-password(type="button") Show
        .post-group
          label(for="password") Password
          input#password(type="password" required)
          button#showPassword.toggle-password(type="button") Show
        .post-group
          label(for="passwordConfirm") Confirm Password
          input#passwordConfirm(type="password" required)
          button#showPasswordConfirm.toggle-password(type="button") Show
        .post-group
          button#save-password(type="submit") Update

  script(src='/js/script.js')

